.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0.5px 10px -2px gray;
    padding: 0px 2rem 0px 2rem;
}

.logo{
    height: 6rem;
    width: 6rem;
}

.list{
    display: flex;
    gap: 2rem;
    list-style: none;
}

li:hover{
    cursor: pointer;
    color: rgb(48, 48, 175);
}

.contact-btn{
    height: 2rem;
    width: 6rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background: indigo;
    border: none;
    border-radius: 5px;
}